{% extends 'base.html' %}
{% load static %}
{% block content %}
<title>Administrar Adiciones</title>
<nav class="buscador">  
    <div class="container">
        <a href="{% url 'botones' %}"><i style="font-size: 2rem;" class="bi bi-arrow-left-circle"></i></a>
    </div>
</nav>
<body>
    <br><h1>Administrar Adiciones</h1><br>
    <a class="agg" href="{% url 'agregar_adicion' %}">Agregar Adición</a>
    <br><br><table>
        <tr>
            <th>Adición</th>
            <th>Precio</th>
            <th>Imagen</th>
            <th>Opción</th>
        </tr>
         {% for adicion in adiciones %}
        <tr>
            <td>{{ adicion.adicion }}</td>
            <td>{{ adicion.precio }}</td>
            <td><img style="width: 30%; border: none;color: black;" src="{{ adicion.imagen.url }}"></td>
            <td><a style="color: black;" href="{% url 'editar_adicion' adicion.pk %}"><i style="font-size: 1.5rem;" class="bi bi-pencil-square"></i></a>
                <a style="color: black;" href="{% url 'eliminar_adicion' adicion.pk %}"><i style="font-size: 1.5rem;" class="bi bi-trash3"></i></a></td>
        </tr>
        {% endfor %}
    </table>
</body><br><br><br>
{% endblock %}
