{% extends 'base.html' %}
{% load static %}
{% block content %}
<title>Administrar Productos</title>
<style>
    body {
        background-image: url('{% static "C:/ElBuenSabor/ElBuenSabor/static/elbuensaborapp/image.png" %}');
        background-size: cover;
        background-repeat: no-repeat;}
</style>
<nav class="buscador">  
    <div class="container">
        <a href="{% url 'botones' %}"><i style="font-size: 2rem;" class="bi bi-arrow-left-circle"></i></a>
        <a class="buscador-carrito">Administrar Productos</a>
        <a href="{% url 'agregar_producto' %}"><i style="font-size: 1.3rem;" class="bi bi-plus-circle-fill"></i> Agregar</a>
    </div>
</nav>
<body>
    <div class="main-content">
        <br><br>
        <table>
            <tr>
                <th>Producto</th>
                <th>Precio</th>
                <th>Imagen</th>
                <th>Opción</th>
            </tr>
            {% for producto in productos %}
            <tr>
                <td style="text-transform: capitalize;">{{ producto.producto }}</td>
                <td>{{ producto.precio }}</td>
                <td><img style="width: 30%; border: none;color: black;" src="{{ producto.imagen.url }}"></td>
                <td>
                    <a style="color: black;" href="{% url 'editar_producto' producto.pk %}"><i style="font-size: 1.5rem;" class="bi bi-pencil-square"></i></a>
                    <a style="color: black;" href="{% url 'eliminar_producto' producto.pk %}"><i style="font-size: 1.5rem;" class="bi bi-trash3"></i></a>
                </td>
            </tr>
            {% endfor %}
        </table>
        <br><br>
    </div>
</body><br>
{% endblock %}
