{% extends 'base.html' %}
{% load static %}
{% block content %}
<title>Agregar Producto</title>
<style>
    body {
        background-image: url('{% static "elbuensaborapp" %}/imagen/proyecto/image.png');
        background-size: cover;
        background-repeat: no-repeat;}
    .form-container {max-width: 500px;
        margin: 50px auto;
        padding: 20px;
        background: #fff;
        border-radius: 8px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);}
    .form-container input{width: 100%;
        height:40px;
        border: 1px solid gray;
        border-radius: 5px;}
    .form-container label{text-align: center;}
    ::-webkit-file-upload-button{width: 1%;
        color: transparent;
        padding: 10px;
        background: transparent;
        border: none;}
</style>
<nav class="buscador">  
    <div class="container">
        <a href="{% url 'administrar_producto' %}"><i style="font-size: 2rem;" class="bi bi-arrow-left-circle"></i></a>
    </div>
</nav>
<body>
    <div class="form-container">
        <h1>Agrega un Producto</h1>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <br><button style="margin: auto;display: flex;"  type="submit">Guardar</button>
        </form>
    </div>
</body><br>

{% endblock %}