{% extends 'base.html' %}
{% load static %}
{% block content %}
<title>Administrar Productos y Adiciones</title>
<nav class="buscador">  
    <div class="container">
        <a href="{% url 'inicio' %}"><i style="font-size: 2rem;" class="bi bi-arrow-left-circle"></i></a>
    </div>
</nav>
<body>
    <br><h1>Administrar Producto y Adiciones</h1><br>
    <br><a class="agg" href="{% url 'admin' %}">Productos</a><br>
    <br><a class="agg" href="{% url 'administrar_adiciones' %}">Adiciones</a>
</body>
{% endblock %}