{% extends 'base.html' %}
{% load static %}
{% block content %}
<title>Administrar Productos y Adiciones</title>
{% if user.is_authenticated %}
<style>
    body {
        background-image: url('{% static "C:/ElBuenSabor/ElBuenSabor/static/elbuensaborapp/hamburger.jpg" %}');
        background-size: cover;
        background-repeat: no-repeat;}
</style>
<nav class="buscador">  
    <div class="container">
        <a href="{% url 'inicio' %}"><i style="font-size: 2rem;" class="bi bi-arrow-left-circle"></i></a>
        <a class="texto_edi">Bienvenido {{user.username}}</a>
        <a href="{% url 'cerrar_sesion' %}"><i style="font-size: 1.2rem;" class="bi bi-box-arrow-right"></i> Cerrar sesión</a>
    </div>
</nav>
<body>
    <br>
    <div class="admin-container">
        <div class="boton-container">
            <button class="botoncito"><a  href="{% url 'administrar_producto' %}">Productos</a></button>
            <button class="botoncito"><a  href="{% url 'administrar_adiciones' %}">Adiciones</a></button>
            <button class="botoncito"><a href="{% url 'dashboard' %}"> Dashboard</a></button>
            <button class="botoncito"><a href="{% url 'reporte_ventas' %}"> Reporte de ventas</a></button>
        </div>
    </div>
    <div class="admin-container">
        <div class="boton-container">
            <button class="botoncito" id="start-button" onclick="startService()">Iniciar Servicio</button>
            <button class="botoncito" id="stop-button" onclick="stopService()">Detener Servicio</button>
        </div>
    </div>
</body><br><br>
{% endif %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    function startService() {
        fetch("{% url 'start_service' %}")
          .then(response => response.json())
          .then(data => {
              if (data.success) {
                  Swal.fire({
                      icon: 'success',
                      title: '¡Éxito!',
                      text: 'El servicio ha sido iniciado.',
                      confirmButtonText: 'Aceptar'
                  });
              } else {
                  Swal.fire({
                      icon: 'error',
                      title: '¡Error!',
                      text: 'No se pudo iniciar el servicio.',
                      confirmButtonText: 'Aceptar'
                  });
              }
          })
          .catch(error => {
              Swal.fire({
                  icon: 'error',
                  title: '¡Error!',
                  text: 'Hubo un problema al conectar con el servidor.',
                  confirmButtonText: 'Aceptar'
              });
          });
    }

    function stopService() {
        fetch("{% url 'stop_service' %}")
          .then(response => response.json())
          .then(data => {
              if (data.success) {
                  Swal.fire({
                      icon: 'success',
                      title: '¡Éxito!',
                      text: 'El servicio ha sido detenido.',
                      confirmButtonText: 'Aceptar'
                  });
              } else {
                  Swal.fire({
                      icon: 'error',
                      title: '¡Error!',
                      text: 'No se pudo detener el servicio.',
                      confirmButtonText: 'Aceptar'
                  });
              }
          })
          .catch(error => {
              Swal.fire({
                  icon: 'error',
                  title: '¡Error!',
                  text: 'Hubo un problema al conectar con el servidor.',
                  confirmButtonText: 'Aceptar'
              });
          });
    }
</script>

{% endblock %}
