{% extends 'base.html' %}
{% load static %}
{% block content %}
<title>Administrar Productos y Adiciones</title>
{% if user.is_authenticated %}
<style>
    body {
        background-image: url('{% static "C:/ElBuenSabor/ElBuenSabor/static/elbuensaborapp/hamburger.jpg" %}');
      background-size: cover;
      background-repeat: no-repeat;
}

</style>
<nav class="buscador">  
    <div class="container">
        <a href="{% url 'inicio' %}"><i style="font-size: 2rem;" class="bi bi-arrow-left-circle"></i></a>
        <a class="texto_edi">Bienvenido {{user.username}}</a>
        <a href="{% url 'cerrar_sesion' %}"><i style="font-size: 1.2rem;" class="bi bi-box-arrow-right"></i> Cerrar sesión</a>
    </div>
</nav>
<body>
    <br>
    <div class="admin-container">
        <div class="admin-box">
            <div class="boton-container">
                <a class="botoncito" href="{% url 'admin' %}">Productos</a>
                <a class="botoncito" href="{% url 'administrar_adiciones' %}">Adiciones</a>
                <div class="admin-container">

                    </div>
                </div>
                
               
            </div>
        </div>
        <div class="admin-container">
            <div class="admin-box">
                <div class="boton-container">
                    <a class="botoncito" href="{% url 'dashboard' %}"> Dashboard</a>
                    <a class="botoncito" href="{% url 'reporte_ventas' %}"> Reporte de ventas</a>
                    <div class="admin-container">
                        </div>
                </div>
            </div>
        </div>
        <div class="admin-container">
        <div class="admin-box">
            <div class="boton-container">
                <button class="botoncito" id="start-button" onclick="startService()">Iniciar Servicio</button>
                <button class="botoncito" id="stop-button" onclick="stopService()">Detener Servicio</button>
            </div>
        </div>
        </div>
        
    </div><br><br>
    {% endif %}
</body>


<script>
    function startService() {
        fetch("{% url 'start_service' %}")
          .then(response => response.json())
          .then(data => {
              if (data.success) {
                  alert("El servicio ha sido iniciado.");
              } else {
                  alert("No se pudo iniciar el servicio.");
              }
          });
    }
  
    function stopService() {
        fetch("{% url 'stop_service' %}")
          .then(response => response.json())
          .then(data => {
              if (data.success) {
                  alert("El servicio ha sido detenido.");
              } else {
                  alert("No se pudo detener el servicio.");
              }
          });
    }

                
</script>

{% endblock %}
