{% extends 'base.html' %}
{% load static %}
{% block content %}
<title>Dashboard - Administrar Productos y Adiciones</title>
<style>
    body {
        background-image: url('{% static "elbuensaborapp" %}/imagen/proyecto/image.png');
        background-size: cover;
        background-repeat: no-repeat;}
    .admin-container {padding: 20px;
        border-radius: 10px;
        background-color: #ffffff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);}
    h2 {text-align: center;
        margin: auto;
        font-size: xx-large ;}
</style>
<nav class="buscador">  
    <div class="container">
        <a href="{% url 'botones' %}"><i style="font-size: 2rem;" class="bi bi-arrow-left-circle"></i></a>
        <a href="{% url 'cerrar_sesion' %}"><i style="font-size: 1.2rem;" class="bi bi-box-arrow-right"></i> Cerrar sesión</a>
    </div>
</nav>

<body>
    {% if user.is_authenticated %}       
    <div class="admin-container">
        <h2>Dashboard</h2>
        <div class="summary">
            <div class="summary-box">
                <p><i class="bi bi-bag-plus"></i></p>
                <h3>Cantidad de Productos</h3>
                <p>{{ product_count }}</p><br><br>
            </div>&nbsp;&nbsp;&nbsp;    
            <div class="summary-box">
                <p><i class="bi bi-bag-plus"></i></p>
                <h3>Cantidad de Adiciones</h3>
                <p>{{ addition_count }}</p>
            </div>
        </div>
    </div>
    {% endif %}
</body>
{% endblock %}
