{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<br><form action="" method="post" style="color: white;">{% csrf_token %}
    <div style="margin: auto;">
        <h1 style="text-align: center;">Inicio de Sesion</h1>
        <div class="formulario"><br><p class="p">Inicio de Sesion</p><br> {{form|crispy}}
            <br><button type="submit" class="boton_admin" style="margin: auto; display: flex;">Inicio</button>
        </div>
    </div>

</form>
{% endblock %}