{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<head>
    <meta charset="UTF-8">
    <title>Reporte de Ventas</title>
</head>
<style>
    body {
        background-image: url('{% static "C:/ElBuenSabor/ElBuenSabor/static/elbuensaborapp/image.png" %}');
        background-size: cover;
        background-repeat: no-repeat;}
</style>
<nav class="buscador">  
    <div class="container">
        <a href="{% url 'botones' %}"><i style="font-size: 2rem;" class="bi bi-arrow-left-circle"></i></a>
        <a class="buscador-carrito">Reporte de ventas</a>

    </div>
</nav>
<body><br>
    <table>
        <thead>
            <tr>
                <th>Producto</th>
                <th>Cantidad Vendida</th>
                <th>Ingresos Totales</th>
            </tr>
        </thead>
        <tbody>
            {% for venta in ventas_por_producto %}
            <tr>
                <td>{{ venta.producto__producto }}</td>
                <td>{{ venta.cantidad_vendida }}</td>
                <td>{{ venta.ingresos_totales }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table><br>
    <div class="admin-container">
        <div class="boton-container">
            <a class="botoncito" href="{% url 'reporte_ventas_csv' %}" target="_blank">Descargar como Excel</a><br><br>
            <a class="botoncito" href="{% url 'reporte_ventas_pdf' %}" target="_blank">Descargar como PDF</a>
        </div>
    </div>
</body>
</html>
{% endblock %}
