{% extends 'base.html' %}
{% load static %}
{% block content %}
<title>Carrito</title>
<nav class="buscador">  
    <div class="container">
        <a href="{% url 'menu' %}"><i style="font-size: 2rem;" class="bi bi-arrow-left-circle"></i></a>
        <a class="buscador-carrito" href="#">ESTE ES TU PEDIDO</a>
    </div>
</nav><br>
<div class="alert" role="alert">
    <h2>Formulario de contacto</h2>

    <form action="/submit_form.php" method="post">
        <label for="nombre">Nombre:</label><br>
        <input type="text" id="nombre" name="nombre"><br><br>

        <label for="direccion">Dirección:</label><br>
        <input type="text" id="direccion" name="direccion"><br><br>

        <label for="telefono">Teléfono:</label><br>
        <input type="tel" id="telefono" name="telefono"><br><br>

    </form><br><br>

    <form class="menu-form" method="post" action="{% url 'procesar_pedidos' %}">
        {% csrf_token %}
        <h1>Carrito</h1>
        <table>
            <thead>
                <tr style="text-transform: uppercase;">
                    <th style="font-size: x-large; text-align: center;">Producto</th>
                    <th style="font-size: x-large; text-align: center;">Precio</th>
                    <th style="font-size: x-large; text-align: center;">Cantidad</th>
                    <th style="font-size: x-large; text-align: center;">Imagen</th>
                    <th style="font-size: x-large; text-align: center;">Adiciones</th>
                </tr>
            </thead>
            <tbody>
                {% if request.session.carrito %}
                    {% for key, value in request.session.carrito.items %}
                    <tr>
                        <td  style="font-size: x-large; text-align: center;">{{ value.producto }}</td>
                        <td  style="font-size: x-large; text-align: center;">{{ value.precio }}</td>
                        <td  style="font-size: x-large; text-align: center;">
                            <a href="{% url 'sub' value.producto_id %}" style="text-decoration: none; color: #FF0000;"> - </a> {{ value.cantidad }} <a href="{% url 'add' value.producto_id %}" class="agregar-producto"  style="text-decoration: none; color: #19c44c;"> + </a>
                        </td>
                        <td  style="font-size: x-large; text-align: center;"><img style="max-width: 100px;" src="{{ value.imagen }}"></td>
                        <td  style="font-size: x-large; text-align: center;">
                            <div>
                                {% for adicion in adiciones %}
                                    <input type="checkbox" name="adiciones_{{ key }}" value="{{ adicion.id }}">{{ adicion.adicion }}<br>
                                {% endfor %}
                            </div>
                        </td>                     
                    </tr>
                    {% endfor %}
                {% else %}
                <tr>
                    <td colspan="5">
                        <div class="alert alert-danger text-center">Sin Productos</div>
                    </td>
                </tr>
                {% endif %}
                <tr>
                    <th scope="row" style="font-size: x-large; text-align: center;">Total:</th>
                    <td colspan="4">$ {{ total_carrito }}</td>
                </tr>
            </tbody>
        </table><br><br>
      

        <button type="submit" class="agg">Comprar</button>
        <br><a class="agg" href="{% url 'cls' %}">Limpiar</a>
    </form>
</div><br><br>
{% endblock %}