{% extends 'base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html>
<head>
    <title>Formulario de contacto</title>
</head>
<body>
<h1>hola</h1>
<h2>Formulario de contacto</h2>
<h3>adios</h3>
<form action="/submit_form.php" method="post">
    <label for="nombre">Nombre:</label><br>
    <input type="text" id="nombre" name="nombre"><br><br>

    <label for="direccion">Dirección:</label><br>
    <input type="text" id="direccion" name="direccion"><br><br>

    <label for="telefono">Teléfono:</label><br>
    <input type="tel" id="telefono" name="telefono"><br><br>

    <input type="submit" value="Enviar">
</form>

</body>
</html>

{% endblock %}