{%  extends 'base.html' %}
{% load static %}
{% block content %}
<nav class="nav_admin">
  <div class="navicon">
    <div></div>
    </div>      
  <a class="a_menu" href="{% url 'login' %}"><i class="bi bi-person-fill-gear"></i> Administrar</a>
</nav>
<div id="service-message" style="display: none;">
  <h2>En este momento por el alto trafico de pedidos, no estamos tomand mas ordebes, pero vuelve más tarde. Gracias por elegirnos.</h2>
</div>
<div class="inicio">
    <h1>¿QUE SE TE ANTOJA HOY?</h1>
    <button id="menu-button" class="boton_menu"><a id="menu-btn" href="{% url 'menu' %}">MENÚ</a></button>
</div>
<img style="margin: auto;display: flex; border: none; width: 60%;" src="{% static 'C:\ElBuenSabor\ElBuenSabor\static\elbuensaborapp\logo.png' %}">
<br><br>

<script>
  function checkServiceStatus() {
      fetch("{% url 'check_service_status' %}")
        .then(response => response.json())
        .then(data => {
            if (data.status === 'inactive') {
                document.getElementById('service-message').style.display = 'block';
                document.getElementById('menu-button').style.display = 'none';
            } else {
                document.getElementById('service-message').style.display = 'none';
                document.getElementById('menu-button').style.display = 'block';
            }
        });
  }
  window.onload = checkServiceStatus;
  setInterval(checkServiceStatus, 60000);
</script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    document.getElementById('menu-btn').addEventListener('click', function(event) {
        event.preventDefault(); // Evita la acción por defecto del enlace

        Swal.fire({
            title: 'Vaciar el carrito',
            text: "Debes vaciar el carrito antes de ir al menú",
            icon: 'warning',
            showCancelButton: false,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Sí, vaciar',
        }).then((result) => {
            if (result.isConfirmed) {
                fetch('/limpiar/')
                    .then(response => {
                        if (response.redirected) {
                            window.location.href = '/menu/';
                        }
                    });
            }
        });
    });
</script>


{% endblock %}

