{% extends 'base.html' %}
{% load static %}
{% block content %}
<title>Menu</title>
<nav class="buscador">  
    <div class="container">
        <a href="{% url 'inicio' %}" class="icon-btn"><i class="bi bi-arrow-left-circle"></i></a>
        <a class="buscador-carrito" href="#">MENÚ</a>
        <a href="{% url 'pedido' %}" class="icon-btn"><i class="bi bi-cart4"></i></a>
    </div>
</nav>
<main>
    <h1 class="main-title">EL BUEN SABOR</h1>
    <h2 class="sub-title">Productos</h2>
    <h4 class="sub-text">Seleccione el producto que desea comprar y agréguelo al carrito de compras</h4>
    <div class="carousel">
        {% for producto in productos %}
            <article class="card">
                <img src="{{ producto.imagen.url }}" alt="{{ producto.producto }}" class="product-img">
                <div class="card-content">
                    <h3 style="text-transform: capitalize;">{{ producto.producto }}</h3><br>
                    <h5>${{ producto.precio }}</h5><br>
                    <div class="tooltip">
                        <div class="icon">Descripción</div>
                        <div class="tooltiptext">{{ producto.descripcion }}</div>
                    </div><br><br>
                    <a class="boton_menu" href="{% url 'add' producto.id %}">
                        <i class="bi bi-plus-circle-fill"></i> Agregar al carrito
                    </a>
                </div>
            </article>
        {% endfor %}
    </div>
</main><br><br><br>
{% if messages %}
    {% for mensaje in messages %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        Swal.fire({
            title: "Realizado",
            text: "{{ mensaje }}",
            icon: "success"
        });
    </script>
    {% endfor %}
{% endif %}
{% endblock %}